@import '@/styles/_variables.scss';

.comment {
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 20px 0px;
    border-bottom: 1px solid rgb(194, 194, 194);
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
}

.right-side {
    flex: 1 1 auto;
}

.avatar {
    width: 40px;
    height: 40px;
}
