$box-shadow: 0px 2px 5px rgb(187, 187, 187);
$block-background: white;
$purple-color: rgb(118, 87, 192);
$purple-color-hover: rgb(104, 63, 201);
$icon-color-gray: rgb(65, 65, 65);
$hover-background: rgb(240, 240, 240);
