$box-shadow: 0px 0px 5px rgb(187, 187, 187);
$block-background: white;
$purple-color: rgb(119, 61, 255);
$purple-color-hover: rgb(97, 30, 252);
$icon-color-gray: rgb(65, 65, 65);
$hover-background: rgb(233, 233, 233);
