$drop-menu-shadow: 0px 0px 7px rgb(61, 61, 61);

$block-background: rgb(36, 36, 36);
$block-shadow: 0px 2px 5px rgb(20, 20, 20);

$button-background: rgb(83, 83, 83);
$button-background-hover: rgb(119, 119, 119);

$hover-background: rgb(66, 66, 66);

$blue-color: rgb(104, 151, 255);
$blue-hover: rgb(144, 179, 255);

$border-color: rgb(168, 168, 168);
