@import '@/styles/_variables.scss';

.dialogs {
    flex: 0 1 35%;
    border-right: 1px solid $border-color;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $border-color;
    padding: 0px 15px;
}

.friend-add {
    padding: 5px;
    cursor: pointer;

    &:hover {
        color: white;
    }
}

.title {
    font-size: 18px;
    padding: 15px 15px 15px 0px;
}

.select-friend {
    border-bottom: 1px solid $border-color;
}

.users {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 30px;
    height: 30px;
}
